# Django
DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# Postgres
POSTGRES_HOST=db
POSTGRES_DB=symmy_task
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1
ERP_SYNC_INTERVAL_SECONDS=300

# Integrator
ERP_DATA_FILENAME=erp_data.json
VAT_RATE=0.21
ESHOP_API_BASE_URL=https://api.fake-eshop.cz/v1
ESHOP_API_KEY=symma-secret-token
ESHOP_RATE_LIMIT_PER_SEC=5
ESHOP_MAX_RETRIES=5
ESHOP_REQUEST_TIMEOUT=10
